// Variables

// Max - widths Container

$sm: 320px;
$md: 600px;
$xl: 920px;

// COLORS 

$white: #ffffff;
$black: #051405;

$c-green-light: #acceb7;

// TYPOGRAPHY

$f-playfair: 'Playfair Display', serif;
$f-montserrat: 'Montserrat', sans-serif;
$f-muli: 'Muli', sans-serif;

// Spacers


