///////////////////
// GENERAL INDEX
///////////////////
html,
body {
	background-color: $white; 
	font-family: $f-muli;
	overflow-x: hidden;
}

.responsive-img {
	width: 100%;
	height: auto;
}

.section-title {
	margin: 40px 0;
	font-family: $f-playfair;
	font-style: italic;
	font-size: 40px;
	font-weight: 100;
}

.text {
	line-height: 1.4;
}

.btn {
	border: none;
	background: none;
	font-family: $f-muli;
	text-transform: uppercase;
	color: $white;
	letter-spacing: 2px;
	padding: 25px;
	background-color: $c-green-light;
	width: 100%;
	max-width: 500px;
	&--submit {
		margin: 60px 0 0 0;
	}

	&:hover {

	}
}


.frame {
	position: relative;
	padding: 0;

	&__bg {
		width: 100%;
		height: 400px;
		object-fit: cover;
		transform: translate(-15px, -15px);
		&--right {
			transform: translate(15px, 15px);
		}
	}

	&:after {
		content: "";
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 0;
		width: 100%;
		height: 100%;
		border: 5px solid  $c-green-light;
	}
}

///////////////////
// NAV
///////////////////

.navbar {

	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		list-style-type: none;
	}

	&__link {
		display: inline-block;
		padding: 20px 0;
		text-decoration: none;
		color: $black;
		font-family: $f-playfair;
		font-weight: bold;
		font-size: 18px;
	}
}


///////////////////
// HEADER
///////////////////

.header {

	margin: 0 0 50px 0;
	
	&__logo {
		display: block;
		// width: 350px;
		
		max-width: 320px;
		height: 115px;       
		background-image: url('../../svg/planty-logo.svg');
		background-repeat: no-repeat;
		text-indent: -119988px;
		text-align: left;
		overflow: hidden; 
	}  

	&__title {
		position: relative;
		margin: 0 auto 50px;
	}
	
	&__subtitle {
		position: absolute;
		bottom: 5px;
		left: 45px;

		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
	}

	&__text {
		margin: 0 auto 50px;
	}
} 


.hero {

	&__bg {
		margin: 0 auto 110px;
	}

	&__phone {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, 40px);
		// transform: translate(0, 110px);
		z-index: 1;
	}
}


///////////////////
// QUOTE SECTION
///////////////////

.banner {
	display: flex;
	align-items: flex-end;

	height: 300px;
	width: 100%;
	// background-image: url('../../img/bg.jpg');
	@include bg-fullImage('../../img/bg.jpg');
	@include retina('../../img/bg@2x.jpg');

	&__quote {
		padding: 60px;
		color: $white;
		font-size: 25px;
		font-family: $f-playfair;
		font-style: italic;
		font-weight: 100;
		text-align: right;
	}
}

///////////////////
// EXPERTS
///////////////////

.experts {

	&__single {
		position: relative;
		border: 5px solid $c-green-light;
		margin: 120px 00 0;
		padding: 100px 25px 25px;
		// max-width: 500px;

	}

	&__avatar {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 140px;
		height: 140px;
		border: 5px solid $c-green-light;
		border-radius: 50%;
	}

	&__name {
		margin: 0 0 10px 0;
		font-family: $f-playfair;
		font-style: italic;
		font-size: 30px;
		font-weight: 100;
	}

	&__title {
		display: inline-block;
		margin: 0 0 30px 0;
		font-family: $f-muli;
		// font-style: italic;
		font-size: 18px;
		text-transform: uppercase;
		// font-weight: 100;
	}
}

///////////////////
// CONTACT
///////////////////

.contact {
	margin: 0 0 55px 0;
	&__form {
		margin: 0 0 40px 0;
	}

	&__input {
		width: 100%;
		min-height: 45px;
		border: 3px solid $black;
		margin: 0 0 15px 0;
		padding: 5px 10px; 
		&:focus {
			outline: none;
		}
	}

	&__label {
		display: block;
		margin: 0 0 5px 0;
	}
}

///////////////////
// FOOTER
///////////////////


.footer {
	width: 100%;
	padding: 30px 0;
	background-color: $c-green-light;
	color: $white;
	&__copy {
		text-align: center;
		margin: 0 0 25px 0;
		
	}

	&__socials {
		display: flex;
		justify-content: space-between;
	}

}

.ico {
	display: inline-block;
	fill: $white;
	width: 50px;

}