///////////////////
// GENERAL INDEX
///////////////////
html,
body {
	background-color: $white; 
	font-family: $f-muli;
	overflow-x: hidden;
}

.responsive-img {
	width: 100%;
	height: auto;
}

.text {
	line-height: 1.4;
}

.btn {
	border: none;
	background: none;
	font-family: $f-muli;
	text-transform: uppercase;
	color: $white;
	letter-spacing: 2px;
	padding: 25px;
	&--hero {
		background-color: $c-green-light;
		// margin: 
		width: 100%;
		max-width: 500px
	}
}

///////////////////
// NAV
///////////////////

.navbar {

	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		list-style-type: none;
	}

	&__link {
		display: inline-block;
		padding: 20px 0;
		text-decoration: none;
		color: $black;
		font-family: $f-playfair;
		font-weight: bold;
		font-size: 18px;

	

	}
}


///////////////////
// HEADER
///////////////////

.header {

	margin: 0 0 50px 0;
	
	&__logo {
		
		display: block;
		// width: 350px;
		
		max-width: 320px;
		height: 115px;       
		background-image: url('../../svg/planty-logo.svg');
		background-repeat: no-repeat;
		text-indent: -119988px;
		text-align: left;
		overflow: hidden; 
	}  

	&__title {
		position: relative;
		margin: 0 auto 50px;
	}
	
	&__subtitle {
		position: absolute;
		bottom: 5px;
		left: 45px;

		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
	}

	&__text {
		margin: 0 auto 50px;
	}
} 


.hero {

	&__bg {
		position: relative;

		margin-bottom: 90px;

		background-image: url(../../img/img-top.jpg);
		background-repeat: no-repeat;
		background-size: cover;

		z-index: 1;
		
		&:after {
			content: "";
			position: absolute;
			top: 15px;
			left: 15px;
			z-index: -1;
			width: 100%;
			height: 100%;
			
			border: 5px solid  $c-green-light;
		}
	}

	&__phone {
		transform: translate(0, 110px);
		z-index: 2;
	}
}


///////////////////
// QUOTE SECTION
///////////////////

.banner {
	display: flex;
	justify-content: end;
	align-intems: end;
	height: 200px;
	width: 100%;
	// background-image: url('../../img/bg.jpg');
	@include bg-fullImage('../../img/bg.jpg');
	@include retina('../../img/bg@2x.jpg');

	&__quote {
		padding: 60px;
		color: $white;
		font-size: 25px;
		font-family: $f-playfair;
		font-style: italic;
		text-align: right;
	}
}

///////////////////
// EXPERTS
///////////////////

///////////////////
// CONTACT
///////////////////

///////////////////
// FOOTER
///////////////////